
.App {
  text-align: center;
  background-color: #292C32;
}
.App-header {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: .1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.Current{
  font-size: 1fr;
  grid-row: 1;
  grid-column: 2;
  color:#e2d5b6;
  
}
.Avaliable{
  font-size: 1fr;
  grid-row: 1;
  grid-column: 1;
  color:#e2d5b6;
  
}
.Taken{
  font-size: 1fr;
  grid-row: 1;
  grid-column: 3;
  color:#e2d5b6;
  
}
.App-header h2{
  font-size: 1fr;
  color:#e2d5b6;
  
}
.classes {
  grid-column: 2;
  grid-row: 2;
  list-style: none;
  padding-left: 0;
}

.classes li {
  align-items: center;
  border: solid 2px #c4b389;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
  
}

.classes p {
  color:#e2d5b6; 
  max-width: none;
  font-weight: bold;
  margin: 0;
}
.taken {
  grid-column: 3;
  grid-row: 2;
  list-style: none;
  padding-left: 0;
}

.taken li {
  align-items: center;
  border: solid 2px #c4b389;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
  
}

.taken p {
  color:#e2d5b6; 
  max-width: none;
  font-weight: bold;
  margin: 0;
}





