.h2{
    user-select: none;
}

.topnav{
    content: width=device-width, initial-scale=1;
    background-color: #FFFB07;
    position: absolute;
    width: 100%;
    border-style: 1px;
}

.transfer {
    position: absolute;
    left:    0;
    bottom:   0;
  }