.h2{
    user-select: none;
}

.nav{
    margin-top: 50px
}

.topnav{
    position: absolute;
    width:100%;
 
}
.custom-select{
    list-style-type: none;
    display: inline;
}
.about{
    list-style-type: none;
    display: inline;
    position: relative;
    float:right;
    margin-right:100px;
}