.h2{
    user-select: none;
}

.nav{
    margin-top: 50px
}

.topnav{
    word-wrap: break-word ;
    content: width=device-width, initial-scale=1;
    background-color: #FFFB07;
    position: absolute;
    width: 100%;
    border-style: 1px;
}