.h2{
    user-select: none;
}

.courseList{
    margin-top:80px;
    height: 40rem;
    overflow-y: scroll;
}

li, a, .transfer{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}


header{
    position: absolute;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
li{
    list-style: none;
    display:inline-block;
    padding: 0 20px;
    
}

.transfer{
    padding-left: 70px;
    cursor: pointer;
   
}
.help{
    margin-left:200px;
}
a{
    color:#D8DAD4;
    padding-right: 70px;
}
  .link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #D8DAD4;
    transition: width .3s;
  }
  .link:hover::after{
    width: 100%;
    transition: width .3s;
  }
  .transfer::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #D8DAD4;
    transition: width .3s;
  }
  .transfer:hover::after{
    width: 100%;
    transition: width .3s;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list{
  position: relative;
  height: 120px;
  overflow-y: scroll;
  width: fit-content;
}
.box {
  white-space: nowrap;
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  margin: 3px;
  width: 20rem;
  padding-left: 10px;
  background-color: #D8DAD4;
}
.box:hover {
  background-color: rgb(18, 92, 170);
  opacity: 40%;
}

.semesterselect{
  display: inline-block;
}

.semesterselect-content{
  display: none;
  position: absolute;
  background-color: #D8DAD4;
  min-width: 100px;
  z-index: 1;
  font-size: 20px;
}

.semesterselect-content option{
  color: black;
  padding: 10 px 10 px;
  text-decoration: none;
  display: block;
  text-align: left;
  user-select: none;
}

.semesterselect:hover .semesterselect-content{
  display: block;
}

.semesterselect-content option:hover {
  background-color: gray;
  user-select: none;
}

.semesterselect-content:checked{
  
}

.yearselect-content{
  display: none;
  position: absolute;
  background-color: #D8DAD4;
  min-width: 100px;
  z-index: 1;
}

.yearselect-content option{
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  user-select: none;
  font-size: 20px;
}

.yearselect:hover .yearselect-content{
  display: block;
}

.yearselect-content option:hover {
  background-color: gray;
  user-select: none;
}

.courseList::-webkit-scrollbar{
  width: 0%;
  }


  .counter {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:#D8DAD4;
    position: absolute;
    bottom: 50px;
    right: 200px;
  }